html {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px; 
    display: grid;
    background: url(../Images/mobileBackground.png) no-repeat;
    background-size: 100% 100%;
    grid-template-areas: 
        "header"
        "form"
        "empty";
    grid-template-rows: 15vh 65vh 20vh; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
    grid-area: header;
    display: grid;
    grid-template-areas: 
        "topLeft topMiddle topRight"
        "bottom bottom bottomn";
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10vh 5vh;     
}

#title {
    grid-area: topMiddle;
    font-size: 20pt;
    text-align: center;
    letter-spacing: 8px;
    line-height: 10vh;
    vertical-align: middle;
    color: white;
}

#title span {
    color: rgb(118, 228, 85);
}

#form {
    grid-area: form;
    text-align: center;
    color: white;
    font-size: 10pt;
}

/** Gets rid of default blue border that Chrome has. */
input:focus, textarea {
    outline: none !important;
}

#subject {
    display: block;
    width: 80%;
    height: 20px;
    margin: 5px auto 5px auto;
}
#email {
    display: block;
    width: 80%;
    height: 20px;
    margin: 5px auto 5px auto;
}
#content {
    display: block;
    width: 80%;
    height: 300px;
    margin: 5px auto 5px auto;
}

#submit {
    width: 60px;
    background-color:  rgb(97, 204, 65);
}

#emtpy {
    grid-area: empty;
}