html {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px; 
    display: grid;
    background: url(../Images/mobileBackground.png) no-repeat;
    background-size: 100% 100%;
    grid-template-areas: 
        "header"
        "mainImage"
        "content";
    grid-template-rows: 15vh 60vh 25vh; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
    grid-area: header;
}

#logo {
    grid-area: logo;
    display: flex;
}

#logo img {
    margin: auto;
    width: 200px;
    height: 200px;
}

#mainImage {
    grid-area: mainImage;
    background-color: rgba(235, 14, 14, 0.507);
}

#content {
    grid-area: content;
    background-color: rgba(0, 0, 255, 0.452);
}