html {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;   
    background: url(/Images/signInBackground.png) no-repeat;
    background-size: 100% 100%;
    display: grid;
    grid-template-areas: 
        "empty1"
        "logo"
        "title"
        "empty2"
        "text"
        "studentLogin"
        "organizationLogin"
        "empty3";
    grid-template-rows: 15vh 30vh 6vh 15vh 4vh 10vh 10vh 10vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#logo {
    grid-area: logo;
    display: flex;
}

#logo img {
    margin: auto;
    width: 200px;
    height: 200px;
}

#title {
    grid-area: title;
    font-size: 30pt;
    text-align: center;
    letter-spacing: 8px;
}

#title span {
    color: rgb(118, 228, 85);
}

#text {
    grid-area: text;
    text-align: center;
    font-size: 10pt;
}

#studentLogin {
    grid-area: studentLogin;
}

#organizationLogin {
    grid-area: organizationLogin;
}

.button {
    width: 175px;
    height: 40px;
    border: 3px solid white;
    border-radius: 100px;
    margin: auto auto auto auto;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

.button:hover {
    background-color: rgb(87, 194, 55);
    border: 3px solid rgb(87, 194, 55);
    cursor: pointer;
}





