html {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: grey;
    display: grid;
    grid-template-areas: 
        "logo"
        "title"
        "bottom";
    grid-template-rows: 330px 300px 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#top {
    grid-area: logo;
    display: flex;
    padding-top: 100px;
}

#top img {
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

#middle {
    grid-area: title;
    font-size: 30pt;
    text-align: center;
}

#bottom {
    grid-area: bottom;
    padding-left: 25px;
    text-align: center;
}


