@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}

body ::-webkit-input-placeholder {
    /* WebKit browsers */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}

body :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
}

body ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
}

body :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}

.wrapper {
    background: url("http://i.imgur.com/SYBPg6L.jpg") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrapper.form-success .container h1 {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 80px 0;
    height: 400px;
    text-align: center;
}

.container h1 {
    font-size: 40px;
    transition-duration: 1s;
    /* transition-timing-function: ease-in-put; */
    font-weight: 200;
}

form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
}

form input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 33px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    transition-duration: 0.25s;
    font-weight: 300;
}

form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

form input:focus {
    background-color: white;
    width: 300px;
    color: rgb(97, 204, 65);
    border: 2px solid rgb(97, 204, 65);

}

form button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: rgb(97, 204, 65);
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}

form button:hover {
    background-color: rgba(159, 247, 44, 0.918);
    color: white;
}

.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(230, 238, 123);
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.418);
    bottom: -150px;
    -webkit-animation: circle 25s infinite;
    animation: circle 25s infinite;
    transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1) {
    left: 10%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(230, 238, 123);


}

.bg-bubbles li:nth-child(2) {
    left: 20%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(230, 238, 123);
    width: 4px;
    height: 4px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
}

.bg-bubbles li:nth-child(3) {
    left: 25%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(230, 238, 123);
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.bg-bubbles li:nth-child(4) {
    left: 40%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(230, 238, 123);
    width: 8.5px;
    height: 8.5px;
    -webkit-animation-duration: 22s;
    animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.418);
}

.bg-bubbles li:nth-child(5) {
    left: 70%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(230, 238, 123);


}

.bg-bubbles li:nth-child(6) {
    left: 80%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(230, 238, 123);
    width: 7px;
    height: 7px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.418);
}

.bg-bubbles li:nth-child(7) {
    left: 32%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(230, 238, 123);
    width: 11px;
    height: 11px;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
    left: 55%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(230, 238, 123);
    width: 9px;
    height: 9px;
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
}

.bg-bubbles li:nth-child(9) {
    left: 25%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(230, 238, 123);
    width: 5px;
    height: 5px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.418);
}

.bg-bubbles li:nth-child(10) {
    left: 90%;
    border-radius: 50%;
    box-shadow: 0 0 3px rgb(230, 238, 123);
    width: 3px;
    height: 3px;
    -webkit-animation-delay: 11s;
    animation-delay: 11s;
}

@-webkit-keyframes circle {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}

@keyframes circle {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-1100px) rotate(600deg);
        transform: translateY(-1100px) rotate(600deg);
    }
}

#logo img {
    margin: auto;
    width: 200px;
    height: 200px;
}

#title {
    grid-area: title;
    font-size: 30pt;
    text-align: center;
    letter-spacing: 8px;
    margin-bottom: 50px;
}

#title span {
    color: rgb(118, 228, 85);
}

#signUp {
    font-size: 10pt;
    margin-top: 130px;
}

#signUp p {
    text-align: center;
    margin: 0 auto;
}

#signUp p:hover {
    cursor: pointer;
    color: rgb(118, 228, 85);
}