.contactUsWrapper {
    display: none;
    color: white;   
    text-align: center;
}

span.contactSpan {
    letter-spacing: 3px;
    font-size: 15pt;
    font-weight: bold;
}

#contactUsPagePicture {
    height: 35vh;
    width: 55%;
    min-width: 800px;
    margin: 80px auto 0 auto;
    background-image: url("https://cdn-images-1.medium.com/max/1600/1*rcR5fPxpf3Vj2GkLBjHJ6Q.gif");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-size: 30pt;
    letter-spacing: 5px;
    padding-top: 75px;
}

.companyName {
    font-size: 15pt;
    letter-spacing: 3px;
}

.companyName span {
    color: rgb(118, 228, 85);
}

#opaqueCover {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.288);
    height: 120px;
    padding-top: 30px;
}

#contactUsPageContent {
    display: grid;
    height: 45vh;
    grid-template-areas:
        "empty phone chat email empty2"
        "emtpy phoneText chatText emailText empty2";
    grid-template-columns: auto 200px 200px 200px auto;
    grid-template-rows: 150px auto;
    grid-column-gap: 120px;
    padding-top: 40px;
}

#phone {
    grid-area: phone;
    width: auto;
    margin: 0 auto;
}

#phone img {
    width: 125px;
    height: 125px;
}

#phoneText {
    grid-area: phoneText;
}

#chat {
    grid-area: chat;
    width: auto;
    margin: 0 auto;
}

#chat img {
    width: 125px;
    height: 125px;
}

#chatText {
    grid-area: chatText;
}

#chatButton {
    width: 100px;
    height: 30px;
    border: 2px solid white;
    border-radius: 15px;
    text-align: center;
    margin: 0 auto;
    line-height: 25px;
    vertical-align: middle;
    font-weight: bold;
}

#chatButton:hover {
    width: 120px;
    height: 32px;
    border: 2px solid rgb(255, 204, 0);
    color: rgb(255, 204, 0);
    cursor: pointer;
    letter-spacing: 3px;
    font-size: 14pt;
    line-height: 28px;
    vertical-align: middle;
}

.contactUsWrapper #email {
    grid-area: email;
    width: auto;
    margin: 0 auto;
}

#email img {
    width: 125px;
    height: 125px;
}

#emailText {
    grid-area: emailText;
}


@media only screen and (min-width: 801px) and (max-width: 1080px) {

    #contactUsPageContent {
        display: grid;
        height: 45vh;
        grid-template-areas:
            "phone chat email"
            "phoneText chatText emailText";
        grid-template-columns: 40% 20% 40%;
        grid-template-rows: 150px auto;
        grid-column-gap: 0px;
        padding-top: 40px;
    }

}

@media only screen and (max-width: 800px) {

    #contactUsPagePicture {
        height: 35vh;
        width: 55%;
        margin: 80px auto 0 auto;
        background-image: url("https://cdn-images-1.medium.com/max/1600/1*rcR5fPxpf3Vj2GkLBjHJ6Q.gif");
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        font-size: 30pt;
        letter-spacing: 5px;
        padding-top: 75px;
    }

    #contactUsPageContent {
        display: grid;
        height: 45vh;
        grid-template-areas:
            "phone chat email"
            "phoneText chatText emailText";
        grid-template-columns: 40% 20% 40%;
        grid-template-rows: 150px auto;
        grid-column-gap: 0px;
        padding-top: 40px;
    }
}