@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}

/*EVENTS PAGE CONTAINER*/
.eventsWrapper {
    display: none;
    width: 100%;
    height: 100%;
}

/*ALL EVENTS CONTAINER*/
.allEventsBox {
    display: grid;
    justify-items: center;
    background: rgb(33, 49, 92);
}

/*INDIVIDUAL EVENTS CONTAINER*/
.eventsBox {
    width: 500px;
    border: 2px solid rgb(196, 195, 195);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*MENU ICON CONTAINER*/
.menuBox {
    height: 80px;
    display: grid;
    justify-items: end;
    background-color: rgb(33, 49, 92);

}

/*MENU CONTAINER*/
.menuButton {
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    filter: invert(1);
    margin: 15px;
}

/*MENU IMAGE*/
.menuPic {
    width: 40px;
    height: 40px;
}

/*MENU IMAGE HOVER*/
.menuPic:hover {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/*DROP DOWN MENU CONTAINER*/
.dropDownBox {
    display: none;

}

/*DROP DOWN MENU*/
.dropDown {
    width: 97.3%;
    z-index: 2;
    position: absolute;
    border-bottom: 1px solid rgb(194, 193, 193);
}

/*DROP DOWN BUTTONS*/
.dropButtons {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 14pt;
    border: none;
    font-weight: bold;
    color: white;
    background: rgb(33, 49, 92);
}

/*DROP DOWN BUTTONS HOVER*/
.dropButtons:hover {
    background: .3498db;
    cursor: pointer;
}

.tabsBox {
    display: none;
}

.eventsLocation {
    width: 100%;
    height: 300px;
    display: grid;
    font-size: 45pt;
    font-weight: bold;
    color: white;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    align-items: center;
    justify-items: center;
    letter-spacing: 10pt;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a0/FuturebigToronto.jpg);
    background-size: cover;
}

.events {
    height: 305px;
    border-bottom: 2px solid rgb(216, 208, 208);

}

.event {
    width: 100%;
    height: auto;
    font-size: 13pt;
}

/*EVENTS LISTING CREDITS CONTAINER*/
.credits {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
    text-align: left;
    text-indent: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 18pt;
    background: white;
}

.readMoreBox {
    width: 100%;
    display: grid;
    padding-top: 10px;
    grid-template-columns: 85% 15%;
    margin-top: 10px;
}

.readMoreButton {
    border: none;
    width: 64px;
    height: 33px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 2);
    background: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 12pt;
    outline: none;
    text-align: center;
    color: grey;
}

.readMoreButton:hover {
    cursor: pointer;
    background: .55db34;
    color: white;
}

.eventPicBox {
    margin-top: -10px;
    /* background-image: url("../Images/planting.jpeg"); */
    background-size: cover;
    height: 253px;
}

.previewBox {
    display: grid;
    align-items: center;
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 60px;
    border-bottom: 2px solid rgb(216, 208, 208);

}

.date {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 0;
    text-indent: -10px;
    text-align: center;

}

.month {
    margin: 0;
    height: 20px;
    display: grid;
    align-items: center;
    font-size: 15pt;
}

.day {
    display: grid;
    align-items: center;
    margin: 0;
    height: 20px;
    line-height: 0;
    font-size: 20pt;
}

.eventMessage {
    font-family: 'Source Sans Pro', sans-serif;
    display: grid;
    align-items: center;
    font-weight: bold;
    font-size: 15pt;
}

/*PEOPLE COUNTER CONTAINER*/
.peopleBox {
    display: grid;
    grid-template-columns: 55% 20%;
    grid-template-rows: 60px;
    justify-items: end;
    align-items: center;
}

/*PEOPLE COUNTER IMAGE*/
.peoplePic {
    width: 30px;
    height: 30px;
}

/*PEOPLE COUNTER*/
.peopleCount {
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    color: .3498db;
}

/*EVENT INFO PAGE*/
.eventsInfoBox {
    display: none;
    width: 550px;
    height: auto;
    border: 2px solid grey;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
}

/*EVENT INFO TOP BOX*/
.detailsTopBox {
    height: auto;
}

/*CLOSE DETAILS BOX*/
.closeDetailsBox {
    transform: translate(517px, 5px);
}

/*CLOSE DETAILS BUTTON*/
.closeDetailsButton {
    width: 25px;
    height: 25px;
    position: absolute;
}

/*CLOSE DETAILS BUTTON HOVER*/
.closeDetailsButton:hover {
    filter: invert(100%);
    background: grey;
    border-radius: 5px;
}

/*EVENT INFO PICTURE CONTAINER*/
.eventInfoPicBox {
    width: 100%;
    height: 320px;
    background-image: url(./Images/planting.jpeg);
    background-size: cover;
    border-top: 2px solid rgb(216, 208, 208);
    border-bottom: 2px solid rgb(216, 208, 208);
}

/*EVENT INFO PICTURE*/
.eventInfoPic {
    width: 100%;
    height: 360px;
}

/*JOIN EVENT BOX*/
.joinEventButtonBox {
    width: 100%;
    height: 70px;
}

/*JOIN EVENT BUTTON*/
.joinEventButton {
    width: 100%;
    height: 70px;
    border: none;
    background: #3498db;
    border-radius: 3px;
    color: white;
    font-size: 15pt;
    font-weight: bold;
    bottom: 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 2);

}

/*JOIN EVENT BUTTON HOVER EFFECT*/
.joinEventButton:hover {
    background: .0b6dad;
    color: white;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 2);
}

/*EVENT INFO TITLE*/
.eventInfoTitle {
    font-size: 17pt;
    height: 50px;
    text-indent: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
}

/*EVENT SPECIAL INFO BOX*/
.specialInfoBox {
    margin-left: 30px;
    margin-right: 30px;
    width: 90%;
    box-shadow: 0 2px 8px rgba(179, 175, 179, 2);
    border-radius: 5px;
}

/*INFO LOCATION BOX*/
.locationInfoBox {
    display: grid;
    grid-template-columns: 50px 500px;
    grid-template-rows: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13pt;
    color: rgb(102, 101, 101);
    align-items: center;
    justify-items: start;
}

/*INFO LOCATION PICTURE*/
.locationPic {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

/*DATE TIME BOX*/
.dateTimeInfoBox {
    display: grid;
    grid-template-columns: 50px 400px;
    grid-template-rows: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13pt;
    color: rgb(102, 101, 101);
    align-items: center;
    justify-items: start;
}


/*INFO CALENDER PICTURE*/
.calenderPic {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

/*DATE AND TIME*/
.dateTime {
    display: grid;
    grid-template-columns: 110px 110px;

}


/*INFO ORGANIZER BOX*/
.organizerInfoBox {
    display: grid;
    grid-template-columns: 50px 500px;
    grid-template-rows: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13pt;
    color: rgb(102, 101, 101);
    align-items: center;
    justify-items: start;
}

/*INFO ORGANIZER PICTURE*/
.organizerPic {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

/*INFO EMAIL BOX*/
.emailInfoBox {
    display: grid;
    grid-template-columns: 50px 500px;
    grid-template-rows: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13pt;
    color: rgb(102, 101, 101);
    align-items: center;
    justify-items: start;
}

/*INFO EMAIL PICTURE*/
.emailPic {
    margin-left: 10px;
    width: 20px;
    height: 13px;
}

/*PEOPLE COUNT INFO BOX*/
.peopleCountBox {
    display: grid;
    grid-template-columns: 50px 15px 500px;
    grid-template-rows: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13pt;
    color: rgb(102, 101, 101);
    align-items: center;
    justify-items: start;
}

/*PEOPLE COUNT PICTURE*/
.peoplePic {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

/*CREDITS INFO BOX*/
.creditsBox {
    display: grid;
    grid-template-columns: 50px 15px 500px;
    grid-template-rows: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(102, 101, 101);
    align-items: center;
    justify-items: start;
}

/*CREDITS PICTURE*/
.creditsPic {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

/*INFO DESCRIPTION BOX*/
.infoDescriptionBox {
    margin: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    text-emphasis: justify;
    color: rgb(102, 101, 101);


}

/*JOINED EVENTS BOX*/
.joinedEventsBox {
    display: none;
}

/*JOINED EVENTS*/
.joinedEvents {
    height: 305px;
    border-bottom: 2px solid rgb(216, 208, 208);
}


/*ALREADY JOINED EVENT INFO PAGE*/
.joinedEventsInfoBox {
    display: none;
    width: 100%;
    height: auto;
}

/*ALREADY JOINED EVENT INFO BUTTON BOX*/
.joinedReadMoreBox {
    width: 100%;
    display: grid;
    grid-template-columns: 85% 15%;
    position: absolute;
    z-index: 1;
    margin-top: 10px;
}

/*ALREADY JOINED EVENT INFO BUTTON*/
.joinedReadMoreButton {
    border: none;
    width: 64px;
    height: 33px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 2);
    background: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 12pt;
    outline: none;
    text-align: center;
    color: grey;
}

/*EVENT INFO TOP BOX*/
.joinedDetailsTopBox {
    height: auto;
}

.createEventBox {
    width: 100%;
    height: 700px;
    text-indent: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    border-bottom: 2px solid rgb(216, 208, 208);
    background: rgb(241, 241, 241);
}

.label {
    font-size: 10pt;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.contentBox {
    height: 30px;
    display: grid;
    justify-items: center;
    text-indent: 8px;
    background: white;
    border: 1px solid grey;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 11px;
    margin-right: 11px;
    border-radius: 5px;
}



input {
    border: none;
    height: 28px;
    width: 97%;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.eventInfo {
    display: grid;
    grid-template-rows: 70px 70px 70px 70px 10px;
    grid-template-areas: "organization",
        "event",
        "location";
    align-items: center;
}

.eventTimeBox {
    display: grid;
    grid-template-rows: 20px 40px 20px 40px 20px;
    align-items: center;
}

.startBox {
    display: grid;
    grid-template-columns: 220px 140px;
    grid-template-rows: 40px;
}

.startDateBox {
    display: grid;
    font-size: 10pt;
    grid-template-columns: 65% 35%;
    align-items: center;
    justify-items: center;
    background: white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
    border: 1px solid grey;
    text-indent: 0;
}

.startTimeBox {
    display: grid;
    font-size: 10pt;
    grid-template-columns: 70% 30%;
    align-items: center;
    justify-items: center;
    background: white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
    text-indent: 10px;
    border: 1px solid grey;
}

.startTimeInput {
    width: 90px;
}

input[type="time"]::-webkit-outer-spin-button,
input[type="time"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.endBox {
    display: grid;
    grid-template-columns: 220px 140px;
    grid-template-rows: 40px;

}

.endDateBox {
    display: grid;
    font-size: 10pt;
    grid-template-columns: 65% 35%;
    align-items: center;
    justify-items: center;
    background: white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
    border: 1px solid grey;
    text-indent: 0;
}

.endTimeBox {
    display: grid;
    font-size: 10pt;
    grid-template-columns: 70% 30%;
    align-items: center;
    justify-items: center;
    background: white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    text-indent: 10px;
}

.endTimeInput {
    width: 90px;
}


.calender {
    width: 20px;
    height: 20px;
}

.clock {
    width: 20px;
    height: 20px;
}

.detailsBox {
    background: white;
    margin-left: 11px;
    margin-right: 11px;
    border: 1px solid grey;
    border-radius: 5px;
    height: 190px;
}

.detailsContent {
    text-indent: 0;
    padding: 10px;
}

.details {
    width: 100%;
    height: 165px;
    overflow: hidden;
    border: none;
    resize: none;
}


.cancelButton {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background: .3498db;
    font-weight: bold;
    color: white;
}

.cancelButton:hover {
    background: .1f4c6b;
}

.createButton {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    background: .3498db;
    color: white;
}

.createButton:hover {
    background: .1f4c6b;
}


@media only screen and (min-width: 1045px) {
    .allEventsBox {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
    }

    .eventsBox {
        width: 500px;
        border: 1px solid grey;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    .previewBox {
        border: none;
    }

    .eventsLocation {
        font-size: 70pt;
    }

    /*MENU ICON CONTAINER*/
    .menuBox {
        display: none;
    }


    /*TABS CONTAINER*/
    .tabsBox {
        display: grid;
        grid-template-columns: 200px 200px 200px 200px 200px 200px;
        align-content: center;
        height: 100px;
        border-bottom-style: outset;
        background-color: rgb(33, 49, 92);
        border-bottom: 2px solid rgb(216, 208, 208);

    }

    /*TABS*/
    .tabs {
        width: 150px;
        height: 50px;
        float: left;
        font-size: 15pt;
        background: none;
        border: none;
        font-weight: bold;
        color: white;
    }

    /*TABS HOVER*/
    .tabs:hover {
        cursor: pointer;
        color: black;
        background: white;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 1575px) {
    .allEventsBox {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        justify-items: center;
    }
}