/*FONT IMPORT*/
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}

/*EVENTS PAGE CONTAINER*/
.eventsWrapper {
    display: none;
    width: 100%;
    height: 100%;
}

/*ALL EVENTS CONTAINER*/
.allEventsBox {
    display: grid;
    grid-template-areas:
        "same";
    justify-items: center;
    background-color: white;

}

    /*EVENT INFO PAGE*/
    .eventsInfoBox {
        grid-area: same;
        display: none;
        width: 550px;
        height: auto;
        border: 1px solid rgb(100, 100, 100);
        border-radius: 2px;
        margin-top: 20px;
        margin-bottom: 50px;
    }

/*INDIVIDUAL EVENTS CONTAINER*/
.eventsBox {
    width: 500px;
    border: 1px solid rgb(196, 195, 195);
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: 10px solid #2f9e3a;
}

/*EVENTS CONTAINER HOVER*/
.eventsBox:hover {
    border: 1px solid #2f9e3a;
    border-left: 10px solid #2f9e3a;
}

/*EVENT PAGE LOCATION TEXT*/
.eventsLocation {
    width: 100%;
    height: 300px;
    display: grid;
    font-size: 45pt;
    font-weight: bold;
    color: white;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    align-items: center;
    justify-items: center;
    letter-spacing: 10pt;
    background-image: url("../Images/vancouver.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/*EVENTS LOCATION BANNER TRANSPARENCY*/
.eventsLocationOpaqueCover {
    width: 100%;
    height: 200px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.178);
    text-align: center;
    line-height: 200px;
    vertical-align: middle;
}


/*ALL INDIVIDUAL EVENTS*/
.events {
    height: 305px;
    border-bottom: 2px solid rgb(216, 208, 208);
}

/*EVENT TOP AND MIDDLE CONTAINER*/
.event {
    width: 100%;
    height: auto;
    font-size: 13pt;
    background-color: #2f9e3a48;
}

/*EVENTS LISTING CREDITS CONTAINER*/
.credits {
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
    text-align: left;
    text-indent: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14pt;
    border-bottom: 1px solid rgb(216, 208, 208);
}

/*INFO BUTTON CONTAINER*/
.readMoreBox {
    width: 100%;
    display: grid;
    padding-top: 10px;
    grid-template-columns: 85% 15%;
    margin-top: 10px;
}

/*INFO BUTTON*/
.readMoreButton {
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 2);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 12pt;
    outline: none;
    text-align: center;
    letter-spacing: 1px;
    margin-left: -18px;
    background-color: #ffffffef;
}

/*INFO BUTTON HOVER*/
.readMoreButton:hover {
    cursor: pointer;
    background: #2f9e3a;
    color: white;
}

/*EVENT LISTING PICTURE CONTAINER*/
.eventPicBox {
    width: 100%;
    margin-top: -10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 266px;
}

/*EVENT LISTING BOTTOM PREVIEW DETAILS*/
.previewBox {
    display: grid;
    align-items: center;
    background-color: #ffffffd0;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 60px;
    border-bottom: 1px solid rgb(216, 208, 208);
}

/*EVENT LISTING DATE*/
.date {
    font-family: 'Source Sans Pro', sans-serif;
    text-indent: 15px;
    text-align: left;
}

/*EVENT LISTING MONTH*/
.month {
    margin: 0;
    height: 22px;
    font-size: 15pt;
}

/*EVENT LISTING DAY*/
.day {
    margin: 0;
    height: 27px;
    font-size: 15pt;
}

/*EVENT LISTING MESSAGE*/
.eventMessage {
    font-family: 'Source Sans Pro', sans-serif;
    display: grid;
    align-items: center;
    font-weight: bold;
    font-size: 15pt;
}

/*PEOPLE COUNTER CONTAINER*/
.peopleBox {
    display: grid;
    grid-template-columns: 55% 20%;
    grid-template-rows: 60px;
    justify-items: end;
    align-items: center;
}

/*PEOPLE COUNTER IMAGE*/
.peoplePic {
    width: 30px;
    height: 30px;
}

/*PEOPLE COUNTER*/
.peopleCount {
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    color: #3498db;
}

/*EVENT INFO TOP BOX*/
.detailsTopBox {
    width: 100%;
    height: 360px;
}

.detailsTopBox img {
    max-width: 100%;
    max-height: 100%;
}

/*CLOSE DETAILS BOX*/
.closeDetailsBox {
    cursor: pointer;
    float: right;
    margin-right: 25px;
}

/*CLOSE DETAILS BUTTON*/
.closeDetailsButton {
    width: 25px;
    height: 25px;
    position: absolute;
    background: white;
    border-radius: 2px;
    border: none;
}

/*CLOSE DETAILS BUTTON HOVER*/
.closeDetailsButton:hover {
    filter: invert(100%);
    background: grey;
    border-radius: 2px;
    border: none;
}

/*EVENT INFO PICTURE CONTAINER*/
.eventInfoPicBox {
    width: 100%;
    height: 320px;
    background-image: url(./Images/planting.jpeg);
    background-size: cover;
    border-top: 2px solid rgb(216, 208, 208);
    border-bottom: 2px solid rgb(216, 208, 208);
}

/*EVENT INFO PICTURE*/
.eventInfoPic {
    width: 100%;
    height: 360px;
}

/*JOIN EVENT BOX*/
.joinEventButtonBox {
    width: 100%;
    height: 70px;
}

/*JOIN EVENT BUTTON*/
.joinEventButton {
    width: 100%;
    height: 70px;
    border: none;
    background: #2f9e3a;
    color: white;
    font-size: 15pt;
    letter-spacing: 3px;
}

/*JOIN EVENT BUTTON HOVER EFFECT*/
.joinEventButton:hover {
    cursor: pointer;
    font-size: 16pt;
    letter-spacing: 4px;
}

/*EVENT INFO TITLE*/
.eventInfoTitle {
    background-color: #2f9e3a48;
    font-size: 17pt;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-indent: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
}

/*EVENT SPECIAL INFO BOX*/
.specialInfoBox {
    background-color: white;
    padding: 20px;
    width: 380px;
}

/*INFO LOCATION BOX*/
.locationInfoBox {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13pt;
    color: rgb(102, 101, 101);
    align-items: center;
    justify-items: start;
}

/*INFO LOCATION PICTURE*/
.locationPic {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

/*DATE TIME BOX*/
.dateTimeInfoBox {
    display: grid;
    grid-template-columns: 50px 530px;
    grid-template-rows: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13pt;
    color: rgb(102, 101, 101);
    align-items: center;
    justify-items: start;
}


/*INFO CALENDER PICTURE*/
.calenderPic {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

/*DATE AND TIME*/
.dateTime {
    display: grid;
    grid-template-columns: 60px 90px;
}


/*INFO ORGANIZER BOX*/
.organizerInfoBox {
    display: grid;
    grid-template-columns: 50px 330px;
    grid-template-rows: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13pt;
    color: rgb(102, 101, 101);
    align-items: center;
    justify-items: start;
}

/*INFO ORGANIZER PICTURE*/
.organizerPic {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

/*INFO EMAIL BOX*/
.emailInfoBox {
    display: grid;
    grid-template-columns: 50px 330px;
    grid-template-rows: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13pt;
    color: rgb(102, 101, 101);
    align-items: center;
    justify-items: start;
}

/*INFO EMAIL PICTURE*/
.emailPic {
    margin-left: 10px;
    width: 20px;
    height: 13px;
}

/*PEOPLE COUNT INFO BOX*/
.peopleCountBox {
    display: grid;
    grid-template-columns: 50px 15px 315px;
    grid-template-rows: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13pt;
    color: rgb(102, 101, 101);
    align-items: center;
    justify-items: start;
}

/*PEOPLE COUNT PICTURE*/
.peoplePic {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

/*CREDITS INFO BOX*/
.creditsBox {
    display: grid;
    grid-template-columns: 50px 30px 300px;
    grid-template-rows: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(102, 101, 101);
    align-items: center;
    justify-items: start;
}

/*CREDITS PICTURE*/
.creditsPic {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

/*INFO DESCRIPTION BOX*/
.infoDescriptionBox {
    background-color: #2f9e3a48;
    padding: 20px;
    margin-bottom: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    text-emphasis: justify;
    color: rgb(102, 101, 101);
}

/*TABLET RESOLUTION*/
@media only screen and (min-width: 1045px) {

    /*LOCATION BANNER TABLET RESOLUTION*/
    .eventsLocation {
        font-size: 70pt;
    }

    /*ALL EVENTS CONTAINER FOR TABLET RESOLUTION*/
    .allEventsBox {
        display: grid;
        grid-template-areas:
            "same same";
        grid-template-columns: 50% 50%;
        justify-items: center;
        
    }

    /*EVENT INFO PAGE*/
    .eventsInfoBox {
        grid-area: same;
        display: none;
        width: 600px;
        height: auto;
        border: 1px solid rgb(100, 100, 100);
        border-radius: 2px;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    /*INDIVIDUAL EVENTS CONTAINER FOR TABLET RESOLUTION*/
    .eventsBox {
        width: 500px;
        border: 1px solid rgb(177, 177, 177);
        border-left: 10px solid #2f9e3a;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 2px;
    }

    /*PREVIEW MESSAGE CONTAINER FOR EVENTS LISTING*/
    .previewBox {
        border: none;
    }
}

/*DESKTOP RESOLUTION*/
@media only screen and (min-width: 1575px) {
    .allEventsBox {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        justify-items: center;

    }

    /*EVENT INFO PAGE*/
    .eventsInfoBox {
        grid-area: same;
        display: none;
        width: 650px;
        height: auto;
        border: 1px solid rgb(100, 100, 100);
        border-radius: 2px;
        margin-top: 20px;
        margin-bottom: 50px;
        margin-left: 500px;
    }
}