.missionPageWrapper {
    display: none;
    background-color: rgb(25, 76, 85);
}

#missionHeading {
    text-align: center;
    padding-top: 22px;
    font-size: 20pt;
    letter-spacing: 10px;
    color: white;
    margin-bottom: 200px;
}

#missionHeading p {
    font-size: 12pt;
    letter-spacing: 1px;
}

#missionSubHeading {
    text-align: center;
    font-size: 15pt;
    letter-spacing: 8px;
    margin-top: -100px;
    color: white;
}

#missionSubHeading p {
    font-size: 12pt;
    letter-spacing: 1px;
}

.eco {
    color: rgb(118, 228, 85);
}

#threePictures {
    display: grid;
    height: 30vh;
    grid-template-areas:
        "empty leftPicture middlePicture rightPicture empty2"
        "empty leftText middleText rightText empty2";
    grid-template-columns: 5% 30% 30% 30% 5%;
    margin-top: 30px;
    text-align: center;
    font-size: 12pt;
    letter-spacing: 1px;
    color: white;
}

#leftPicture {
    grid-area: leftPicture;
    width: auto;
    margin: 0 auto;
}

#leftPicture img {
    height: 200px;
    width: 200px;
}

#leftText {
    grid-area: leftText;
}

#middlePicture {
    grid-area: middlePicture;
    width: auto;
    margin: 0 auto;
}

#middlePicture img {
    height: 200px;
    width: 200px;
}

#middleText {
    grid-area: middleText;
}

#rightPicture {
    grid-area: rightPicture;
    width: auto;
    margin: auto auto 20px auto;
}

#rightPicture img {
    height: 100px;
    width: 300px;
}

#rightText {
    grid-area: rightText;
}

#infoPicDesc1 {
    color: white;
    margin-left: 250px;
}

#infoPicDesc2 {
    color: white;
    margin-left: 270px;
}

#infoPicDesc3 {
    color: white;
    margin-left: 280px;
}

.infoPicDesc {
    margin-top: 20px;
    display: inline-block;
}

#infomatics {
    margin: 20px auto;
    width: 600px;
    height: 400px;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 200px;
    grid-row-gap: 10px;
    margin-top: 140px;
}

.box {
    background-color: rgb(25, 76, 85);
    color: #fff;
    font-size: 20px;
}

#infomatic1 {
    font-size: 65px;
    color: rgb(255, 72, 0);
}

#infomatic2 {
    font-size: 65px;
    color: rgb(30, 255, 0);

}

#infomatic3 {
    font-size: 65px;
    color: rgb(0, 255, 255);

}

#infomatic4 {
    font-size: 65px;
    color: rgb(248, 109, 45);

}

/*MOBILE LAYOUT*/
@media only screen and (max-width: 850px) {

    /*MIDDLE THREE PICTURES*/
    #threePictures {
        grid-template-areas:
            "leftPicture"
            "leftText"
            "middlePicture"
            "middleText"
            "rightPicture"
            "rightText";
        grid-template-columns: 100%;
        grid-template-rows: 200px 50px 200px 50px 200px 50px;
        height: auto;
    }

    #infomatics {
        grid-template-columns: 100%;
        grid-template-rows: 200px 200px 200px 200px;   
        margin-top: 30px;

    }

    .box {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-auto-rows: 90px 20px
    }
}