/*MISSION PAGE CONTAINER*/
.missionPageWrapper {
    display: none;
    background-color: rgb(25, 76, 85);
}

/*HEADING*/
#missionHeading {
    text-align: center;
    padding-top: 22px;
    font-size: 20pt;
    letter-spacing: 10px;
    color: white;
    margin-bottom: 200px;
}

/*HEADING PARAGRAPH*/
#missionHeading p {
    font-size: 12pt;
    letter-spacing: 1px;
}

/*EVOLUNTEER HEADING*/
#missionSubHeading {
    text-align: center;
    font-size: 15pt;
    letter-spacing: 8px;
    margin-top: -100px;
    color: white;
}

/*EVOLUNTEER PARAGRAPH MESSAGE*/
#missionSubHeading p {
    font-size: 12pt;
    letter-spacing: 1px;
}

/*ECO SPAN*/
.eco {
    color: rgb(118, 228, 85);
}

/*THREE PICTURES CONTAINER*/
#threePictures {
    display: grid;
    height: 30vh;
    grid-template-areas:
        "empty leftPicture middlePicture rightPicture empty2"
        "empty leftText middleText rightText empty2";
    grid-template-columns: 5% 30% 30% 30% 5%;
    margin-top: 30px;
    text-align: center;
    font-size: 12pt;
    letter-spacing: 1px;
    color: white;
}

/*LEFT PICTURE CONTAINER*/
#leftPicture {
    grid-area: leftPicture;
    width: auto;
    margin: 0 auto;
}

/*LEFT PICTURE*/
#leftPicture img {
    height: 200px;
    width: 200px;
}

/*LEFT PICTURE TEXT*/
#leftText {
    grid-area: leftText;
}

/*MIDDLE PICTURE CONTAINER*/
#middlePicture {
    grid-area: middlePicture;
    width: auto;
    margin: 0 auto;
}

/*LEFT PICTURE*/
#middlePicture img {
    height: 200px;
    width: 200px;
}

/*LEFT PICTURE TEXT*/
#middleText {
    grid-area: middleText;
}

/*RIGHT PICTURE CONTAINER*/
#rightPicture {
    grid-area: rightPicture;
    width: auto;
    margin: auto auto 20px auto;
}

/*RIGHT PICTURE*/
#rightPicture img {
    height: 100px;
    width: 300px;
}

/*RIGHT PICTURE TEXT*/
#rightText {
    grid-area: rightText;
}

/*INFO PICTURE TEXT 1*/
#infoPicDesc1 {
    color: white;
    margin-left: 250px;
}

/*INFO PICTURE TEXT 2*/
#infoPicDesc2 {
    color: white;
    margin-left: 270px;
}
/*INFO PICTURE TEXT 3*/
#infoPicDesc3 {
    color: white;
    margin-left: 280px;
}

/*INFO PICTURE TEXT*/
.infoPicDesc {
    margin-top: 20px;
    display: inline-block;
}

/*INFORMATION CONTAINER*/
#infomatics {
    margin: 20px auto;
    width: 600px;
    height: 400px;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 200px;
    grid-row-gap: 10px;
    margin-top: 140px;
}

/*INFO PICTURES CONTAINER*/
.box {
    background-color: rgb(25, 76, 85);
    color: #fff;
    font-size: 20px;
}

/*INFO PICTURES 1*/
#infomatic1 {
    font-size: 65px;
    color: rgb(255, 72, 0);
}

/*INFO PICTURES 2*/
#infomatic2 {
    font-size: 65px;
    color: rgb(30, 255, 0);

}

/*INFO PICTURES 3*/
#infomatic3 {
    font-size: 65px;
    color: rgb(0, 255, 255);

}

/*INFO PICTURES 4*/
#infomatic4 {
    font-size: 65px;
    color: rgb(248, 109, 45);

}

/*MOBILE LAYOUT*/
@media only screen and (max-width: 700px) {

    /*MOBILE MIDDLE THREE PICTURES*/
    #threePictures {
        grid-template-areas:
            "leftPicture"
            "leftText"
            "middlePicture"
            "middleText"
            "rightPicture"
            "rightText";
        grid-template-columns: 100%;
        grid-template-rows: 200px 50px 200px 50px 200px 50px;
        height: auto;
    }
/*MOBILE INFORMATION CONTAINER*/
    #infomatics {
        grid-template-columns: 100%;
        grid-template-rows: 200px 200px 200px 200px;   
        margin-top: 30px;

    }
/* MOBILE INFO PICTURES CONTAINER*/
    .box {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-auto-rows: 90px 20px
    }
}