.navigation {
    height: 7vh;
    margin-bottom: 30px;
    display: grid;
    grid-template-areas:
        "left middle right";
    grid-template-columns: 15% 70% 15%;
    display: none;
}

.navBar {
    grid-area: middle;
    font-size: 12pt;
    padding-top: 25px;
    height: 45px;
    text-align: center;
    letter-spacing: 3px;
}

.navBar>ul>li {
    display: inline-block;
}

.navBar ul>li>a {
    color: white;
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navBar ul li ul {
    display: none;
    list-style: none;
    position: absolute;
    background: #e2e2e2;
    text-align: left;
}

.navBar ul li a:hover {
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    color: rgb(33, 49, 92);
}

/* Current page nav bar highlight */
.navBar ul li a.activePage {
    background-color: white;
    border-radius: 5px;
    color: rgb(33, 49, 92);
}

/* Navbar picture display */
.navBarPic {
    grid-area: middle;
    text-align: center;
}

.navBarPic>ul>li {
    display: inline-block;
    text-decoration: none;
}

.navBarPic ul li img {
    display: none;
    list-style: none;
    position: absolute;
    height: 60px;
    margin-top: -25.5px;
    margin-left: -355px;
}

/** Current page picture show */
.navBarPic ul li img.activePic {
    display: inline-block;
}

#logoutButton1 {
    grid-area: right;
}

/*MENU ICON CONTAINER*/
.menuBox {
    display: none;
}

/*MOBILE LAYOUT*/
@media only screen and (max-width: 780px) {

    /*FULL NAVIGATION BAR*/
    .navBar {
        display: none;
    }

    /*MENU ICON CONTAINER*/
    .menuBox {
        display: grid;
        justify-items: end;
        height: 80px;
    }

}
