/*NAVIGATION BAR CONTAINER*/
.navigation {
    height: 7vh;
    margin-bottom: 30px;
    display: grid;
    grid-template-areas:
        "left middle right";
    grid-template-columns: 15% 70% 15%;
    display: none;
}
/*NAVIGATION BAR*/
.navBar {
    grid-area: middle;
    font-size: 12pt;
    padding-top: 25px;
    height: 45px;
    text-align: center;
    letter-spacing: 3px;
}

/*NAVIGATION BAR TAB CONTAINERS*/
.navBar>ul>li {
    display: inline-block;
}

/*NAVIGATION BAR TABS*/
.navBar ul>li>a {
    color: white;
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*NAVIGATION BAR TAB CONTAINER LISTS*/
.navBar ul li ul {
    display: none;
    list-style: none;
    position: absolute;
    background: #e2e2e2;
    text-align: left;
}

/*NAVIGATION BAR TABS HOVER EFFECT*/
.navBar ul li a:hover {
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    color: rgb(33, 49, 92);
}

/*CURRENT PAGE NAV BAR HIGHLIGHT*/
.navBar ul li a.activePage {
    background-color: white;
    border-radius: 5px;
    color: rgb(33, 49, 92);
}

/*NAVBAR PICTURE DISPLAY*/
.navBarPic {
    grid-area: middle;
    text-align: center;
}

/*NAVBAR PICTURE LIST*/
.navBarPic>ul>li {
    display: inline-block;
    text-decoration: none;
}

/*NAVBAR PICTURE LIST IMAGES*/
.navBarPic ul li img {
    display: none;
    list-style: none;
    position: absolute;
    height: 60px;
    margin-top: -25.5px;
    margin-left: -355px;
}

/*CURRENT PAGE PICTURE SHOW*/
.navBarPic ul li img.activePic {
    display: inline-block;
}

/*LOGOUT BUTTON*/
#logoutButton1 {
    grid-area: right;
}


/*MENU ICON CONTAINER*/
.menuBox {
    display: none;
}
.dropDown {
    display: none;
}

/*MOBILE LAYOUT*/
@media only screen and (max-width: 700px) {

    /*FULL NAVIGATION BAR*/
    .navBar {
        display: none;
    }

    /*MENU ICON CONTAINER*/
    .menuBox {
        display: grid;
        justify-items: end;
        height: 80px;
        z-index: 9999;
    }

}
