body {
    margin: 0;
    min-width: 450px;
    overflow-x: hidden;
}

/*ORGANIZER UI EVENT CONTAINER*/
.organizerEventWrapper {
    display: none;
    width: 100%;
    height: 100%;
}

/*ORGANIZER UI EVENT CONTAINER*/
.organizerEventsNavBar {
    height: 50px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;

}

/*ORGANIZER UI BACK BUTTON CONTAINER*/
.organizerBackBox {
    display: grid;
    justify-items: start;
}

/*ORGANIZER UI BACK BUTTON*/
.organizerBackButton {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
}

/*ORGANIZER UI BACK BUTTON IMAGE*/
.organizerBackPic {
    width: 20px;
    height: 20px;
}

/*ORGANIZER UI BACK BUTTON HOVER*/
.organizerBackPic:hover {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

/*ORGANIZER UI LOCATION*/
.organizerLocation {
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
}

/*ORGANIZER UI MENU CONTAINER*/
.organizerMenuBox {
    display: grid;
    justify-items: end;
}

/*ORGANIZER UI MENU BUTTON*/
.organizerMenuButton {
    width: 50px;
    height: 50px;
    border: none;
    background: none;
}

/*ORGANIZER UI MENU IMAGE*/
.organizerMenuPic {
    width: 20px;
    height: 20px;
}

/*ORGANIZER UI MENU IMAGE HOVER*/
.organizerMenuPic:hover {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

/*ORGANIZER UI DROPDOWN BOX*/
.organizerDropDownBox {
    display: none;
    
 }

 /*ORGANIZER UI DROPDOWN*/
.organizerDropDown {
    width: 100%;
    z-index: 2;
    position: absolute;
    border: 1px solid rgb(194, 193, 193);
}

/*ORGANIZER UI DROPDOWN BUTTONS*/
.organizerDropButtons {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 14pt;
    border: none;
    font-weight: bold;
    background: white;
}

/*ORGANIZER UI DROPDOWN HOVER*/
.organizerDropButtons:hover {
    background: #3498db;
    cursor: pointer;
}

/*ORGANIZER UI TABS CONTAINER*/
.organizerTabsBox {
    display: block;
    height: 50px;
    border-bottom-style: outset;
    border-bottom: 2px solid rgb(216, 208, 208);
}

/*ORGANIZER UI TABS*/
.organizerTabs {
    width: 50%;
    height: 50px;
    float: left;
    font-size: 15pt;
    background: none;
    border: none;
    font-weight: bold;
    color: grey;
}

/*ORGANIZER UI TABS HOVER*/
.organizerTabs:hover {
    border-bottom: 4px solid #3498db;
    color: black;
}


/*EVENT INFO TOP BOX*/
.joinedDetailsTopBox {
    height: auto;
}

/*CREATE EVENT INFO TOP BOX*/
.createEventBox {
    width: 100%;
    height: 700px;
    text-indent: 20px;
    font-family: 'Arial', sans-serif;
    margin: 0;
    border-bottom: 2px solid rgb(216, 208, 208);
    background: rgb(241, 241, 241);
}

/*LABELS*/
.label {
    font-size: 10pt;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

/*CONTENT CONTAINERS*/
.contentBox {
    height: 30px;
    display: grid;
    justify-items: center;
    text-indent: 8px;
    background: white;
    border: 1px solid grey;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 11px;
    margin-right: 11px;
    border-radius: 5px;
}

/*ORGANIZER UI INPUTS*/
input {
    border: none;
    height: 28px;
    width: 97%;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

/*ORGANIZER UI DATE INPUT REMOVE UP DOWN ARROWS*/
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

/*ORGANIZER UI ORGANIZER EVENT INFO*/
.organizerEventInfo {
    display: grid;
    grid-template-rows: 70px 70px 70px 70px 10px;
    grid-template-areas: "organization",
        "event",
        "location";
    align-items: center;
}

/*ORGANIZER LABEL*/
.organizerLabel {
    padding-top: 20px;
}

/*ORGANIZER UI EVENT TIME BOX*/
.eventTimeBox {
    display: grid;
    grid-template-rows: 20px 40px 20px 40px 20px;
    align-items: center;
}

/*ORGANIZER UI START DATE/TIME BOX*/
.startBox {
    display: grid;
    grid-template-columns: 220px 140px;
    grid-template-rows: 40px;
}

/*ORGANIZER UI START DATE BOX*/
.startDateBox {
    display: grid;
    font-size: 10pt;
    grid-template-columns: 65% 35%;
    align-items: center;
    justify-items: center;
    background: white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
    border: 1px solid grey;
    text-indent: 0;
}

/*ORGANIZER UI START TIME BOX*/
.startTimeBox {
    display: grid;
    font-size: 10pt;
    grid-template-columns: 70% 30%;
    align-items: center;
    justify-items: center;
    background: white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
    text-indent: 10px;
    border: 1px solid grey;
}

/*ORGANIZER UI START TIME INPUT*/
.startTimeInput {
    width: 90px;
}

/*ORGANIZER UI INPUT TIME REMOVE UP DOWN ARROWS*/
input[type="time"]::-webkit-outer-spin-button, input[type="time"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

/*ORGANIZER UI END DATE/TIME BOX*/
.endBox {
    display: grid;
    grid-template-columns: 220px 140px;
    grid-template-rows: 40px;

}

/*ORGANIZER UI END DATE BOX*/
.endDateBox {
    display: grid;
    font-size: 10pt;
    grid-template-columns: 65% 35%;
    align-items: center;
    justify-items: center;
    background: white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
    border: 1px solid grey;
    text-indent: 0;
}

/*ORGANIZER UI END TIME BOX*/
.endTimeBox {
    display: grid;
    font-size: 10pt;
    grid-template-columns: 70% 30%;
    align-items: center;
    justify-items: center;
    background: white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    text-indent: 10px;
}

/*ORGANIZER UI END TIME INPUT*/
.endTimeInput {
    width: 90px;
}

/*ORGANIZER UI CALENDER IMAGE*/    
.calender {
    width: 20px;
    height: 20px;
}

/*ORGANIZER UI CLOCK IMAGE*/
.clock {
    width: 20px;
    height: 20px;
}

/*ORGANIZER UI DETAILED INFORMATION CONTAINER*/
.detailsBox {
    background: white;
    margin-left: 11px;
    margin-right: 11px;
    border: 1px solid grey;
    border-radius: 5px;
    height: 190px;
    display: grid;
    justify-items: center;
}

/*ORGANIZER UI DETAILS INPUT BOX*/
.detailsContent {
    text-indent: 0;
    padding: 0px;
}

/*ORGANIZER UI DETAILS INPUT*/
.details {
    font-family: "Arial", sans-serif;
    margin-top: 10px;
    width: 95%;
    height: 165px;
    overflow: hidden;
    border: none;
    resize: none;
}

/*ORGANIZER UI CANCEL/JOIN BUTTON*/
.backJoinBox {
    margin-top: 10px;
    margin-right: 11px;
    margin-left: 11px;
    float: right;
}

/*ORGANIZER UI CANCEL BUTTON*/
.cancelButton {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: #3498db;
    font-weight: bold;
    color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,1);
}

/*ORGANIZER UI CANCEL BUTTON HOVER*/
.cancelButton:hover {
    background: #1f4c6b;
}

/*ORGANIZER UI CREATE BUTTON*/
.createButton {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    background: #3498db;
    border: none;
    color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,1);
}

/*ORGANIZER UI CREATE BUTTON HOVER*/
.createButton:hover {
    background: #1f4c6b;
}
