#welcomePageTitle {
    font-size: 30pt;
    text-align: center;
    letter-spacing: 8px;
    margin-bottom: 50px;
    color: white;
    position: relative;
}

#welcomePageTitle span {
    color: rgb(118, 228, 85);
}

.cities {
    width: auto;
    height: auto;
    color: white;
    font-size: 30pt;
    letter-spacing: 10px;
    position: relative;
    text-align: center;
    margin: 30px auto 30px auto;
    cursor: pointer;
}

.cities a {
    text-decoration: none;
    color: white;
    font-size: 30pt;
    letter-spacing: 10px;
}

.cities a:hover {
    font-size: 30pt;
    letter-spacing: 15px;
    color: rgb(255, 204, 0);
}

#mainBox {
    text-align: center;
    z-index: 2;
}

#mainBox img {
    z-index: 2;
}

#mainBox img:hover {
    cursor: pointer;
}

.welcomePageWrapper {
    display: none;
    overflow: hidden;
}

#topBox {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-areas:
        "header1 header2 header3";
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 80px;
    z-index: 2;
}

#evolunteer {
    height: 80px;
    grid-area: header2;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30pt;
    z-index: 1;
    color: white;
}
