.welcomePageWrapper {
    display: none;
    overflow: hidden;
}

#welcomePageHeader {
    height: 8vh;
    display: grid;
    grid-template-areas: 
        "left title right";
    grid-template-columns: 15% 70% 15%;
}

#welcomePageTitle {
    grid-area: title;
    font-size: 30pt;
    text-align: center;
    letter-spacing: 8px;
    color: white;
    position: relative;
    padding-top: 10px;
}

#welcomePageTitle span {
    color: rgb(118, 228, 85);
}

#welcomePageLogo {
    text-align: center;
    z-index: 2;
}

#welcomePageLogo img {
    z-index: 2;
    margin-top: -30px;
    margin-bottom: -50px;
    width: 400px;
    height: 310px;
}

#missionStatement {
    height: 40vh;
    border: 1px solid red;
    padding: 50px 25px 25px 25px;
    text-align: center;
    color: white;
    font-size: 15pt;
    letter-spacing: 2px;
}

#missionStatement span {
    color: rgb(118, 228, 85);
}

#clickDownArea {
    height: 25vh;
    border: 1px solid red;
}

.cities {
    width: auto;
    height: auto;
    color: white;
    font-size: 30pt;
    letter-spacing: 10px;
    position: relative;
    text-align: center;
    margin: 30px auto 30px auto;
    cursor: pointer;
}

.cities a {
    text-decoration: none;
    color: white;
    font-size: 30pt;
    letter-spacing: 10px;
}

.cities a:hover {
    font-size: 30pt;
    letter-spacing: 15px;
    color: rgb(255, 204, 0);
}

