.welcomePageWrapper {
    display: none;
    overflow: hidden;
}

#welcomePageTitle {
    height: 8vh;
    font-size: 30pt;
    text-align: center;
    letter-spacing: 8px;
    color: white;
    position: relative;
    padding-top: 5px;
}

#welcomePageTitle span {
    color: rgb(118, 228, 85);
}


#welcomePageLogo {
    text-align: center;
    z-index: 2;
}

#welcomePageLogo img {
    z-index: 2;
    margin-top: -30px;
    margin-bottom: -50px;
    width: 400px;
    height: 310px;
}

#missionStatement {
    height: 27vh;
    padding: 50px 25px 25px 25px;
    text-align: center;
    color: white;
    font-size: 15pt;
    letter-spacing: 2px;
}

#missionStatement span {
    color: rgb(118, 228, 85);
}

#clickDownArea {
    height: 17vh;
    padding-top: 5px;
    text-align: center;
    color: white;
    font-size: 12pt;
    letter-spacing: 2px;
}

#clickDownText {
    height: 50px;
    width: 250px;
    margin: auto;
}

#breakPoint {
    height: 8px;
}

#clickDownButton img {
    width: 30px;
    height: 30px;
}

#clickDownButton img:hover {
    animation: wiggle 1s infinite;
    cursor: pointer;
    width: 34px;
    height: 34px;
}

#welcomePageCities {
    background-color: white;
    display: grid;
    grid-template-areas: 
        "left right";
    grid-template-columns: 50% 50%;
}

.cities {
    width: auto;
    height: auto;
    position: relative;
    text-align: center;
    margin: 30px auto 30px auto;
    cursor: pointer;
}

.cities a {
    text-decoration: none;
    color: black;
    font-size: 25pt;
    letter-spacing: 10px;
}

.cities a:hover {
    font-size: 25pt;
    letter-spacing: 15px;
    color: rgb(255, 204, 0);
}
